    table{
        border: 1px solid;
        width: 100px;
        border-collapse: collapse;
     }
     th,td{
         padding: 15px;
         border: 1px solid;
         height: 30px;
     }
     th{
         text-align: left;
     }
    
    
