body{
    padding-top: 5px;
    padding-left: 100px;
    padding-bottom: 15px;
    padding-right: 50px;
    border: 1px;
    margin: 5px;
    color: burlywood;
    background-color: white;
  }
  

  
