div {
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-color:black;
    font-size: 100px;
    border-radius: 10px;
    border-width: 10px;
    float:right;
}
#left{
    float: left;
    padding: 0px;
    border: none;
}
#right{
        float: right;
        padding: 0px;
        border: none;
}